
 .btn {
	border-radius: 4px;
}
.pd-11-24 {
    padding: 11px 24px;
}
.pd-8-16 {
    padding: 8px 16px;
}
.pd-8-24 {
    padding: 8px 24px;
}
.pd-12-16 {
    padding: 12px 16px;
}
.pd-11-32 {
    padding: 11px 32px;
}
.pd-11-37 {
    padding: 11px 37px;
}
.pd-17-32 {
    padding: 17px 32px;
}

.btn-violet {
    color: $c-white;
    background: $c-violet;
    position: relative;
    z-index: 1;
    &:hover {
        color: $c-white;
        background: $c-violet;
    }
}
