@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Black.ttf');
    src: url('./../fonts/Montserrat/Montserrat-Black.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-Black.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 900 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-BlackItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-BlackItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-BlackItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 900 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Bold.ttf');
    src: url('./../fonts/Montserrat/Montserrat-Bold.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 700 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-BoldItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-BoldItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 700 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-ExtraBold.ttf');
    src: url('./../fonts/Montserrat/Montserrat-ExtraBold.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 800 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 800 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-ExtraLight.ttf');
    src: url('./../fonts/Montserrat/Montserrat-ExtraLight.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 200 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 200 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Italic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-Italic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-Italic.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 100 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Light.ttf');
    src: url('./../fonts/Montserrat/Montserrat-Light.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-Light.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 300 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-LightItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-LightItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 300 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Medium.ttf');
    src: url('./../fonts/Montserrat/Montserrat-Medium.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 500 
}


@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-MediumItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-MediumItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-MediumItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 500 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Regular.ttf');
    src: url('./../fonts/Montserrat/Montserrat-Regular.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 400 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-SemiBold.ttf');
    src: url('./../fonts/Montserrat/Montserrat-SemiBold.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype'); /* font chuan */
    font-style: normal;
    font-weight: 600 
}

@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 600 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-Thin.ttf');
    src: url('./../fonts/Montserrat/Montserrat-Thin.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');/* font chuan */
    font-style: normal;
    font-weight: 100 
}
@font-face {
    font-family: 'Montserrat';
    src: url('./../fonts/Montserrat/Montserrat-ThinItalic.ttf');
    src: url('./../fonts/Montserrat/Montserrat-ThinItalic.ttf?#iefix'), /* IE4+ */
         url('./../fonts/Montserrat/Montserrat-ThinItalic.ttf') format('truetype'); /* font chuan */
    font-style: italic;
    font-weight: 100
}




@font-face {
    font-family: 'icomoon';
    src:  url('./../fonts/icomoon/fonts/icomoon.eot?y3d7zy');
    src:  url('./../fonts/icomoon/fonts/icomoon.eot?y3d7zy#iefix') format('embedded-opentype'),
      url('./../fonts/icomoon/fonts/icomoon.ttf?y3d7zy') format('truetype'),
      url('./../fonts/icomoon/fonts/icomoon.woff?y3d7zy') format('woff'),
      url('./../fonts/icomoon/fonts/icomoon.svg?y3d7zy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-accruary:before {
    content: "\e900";
    color: #009eeb;
  }
  .icon-affiliate-earn:before {
    content: "\e901";
  }
  .icon-affiliate-placce:before {
    content: "\e902";
  }
  .icon-affiliate-register:before {
    content: "\e903";
  }
  .icon-apply .path1:before {
    content: "\e904";
    color: rgb(216, 216, 216);
  }
  .icon-apply .path2:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-apply .path3:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-approve:before {
    content: "\e907";
  }
  .icon-arrow-long:before {
    content: "\e908";
    color: #009eeb;
  }
  .icon-booking-arrow-left:before {
    content: "\e909";
  }
  .icon-booking-arrow-right:before {
    content: "\e90a";
  }
  .icon-booking-arrow-up:before {
    content: "\e90b";
  }
  .icon-booking-down:before {
    content: "\e90c";
  }
  .icon-booking-edit:before {
    content: "\e90d";
    color: #009eeb;
  }
  .icon-bottom-fb:before {
    content: "\e90e";
    color: #009eeb;
  }
  .icon-bottom-logo .path1:before {
    content: "\e90f";
    color: rgb(162, 204, 57);
  }
  .icon-bottom-logo .path2:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(162, 204, 57);
  }
  .icon-bottom-logo .path3:before {
    content: "\e911";
    margin-left: -1em;
    color: rgb(30, 148, 209);
  }
  .icon-bottom-logo .path4:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(244, 130, 32);
  }
  .icon-bottom-logo .path5:before {
    content: "\e913";
    margin-left: -1em;
    color: rgb(244, 130, 32);
  }
  .icon-bottom-tw:before {
    content: "\e914";
    color: #009eeb;
  }
  .icon-contact-email:before {
    content: "\e915";
    color: #009eeb;
  }
  .icon-contact-fb:before {
    content: "\e916";
    color: #009eeb;
  }
  .icon-contact-mobile:before {
    content: "\e917";
    color: #009eeb;
  }
  .icon-contact-phone:before {
    content: "\e918";
    color: #009eeb;
  }
  .icon-contact-sp:before {
    content: "\e919";
    color: #009eeb;
  }
  .icon-contact-tel:before {
    content: "\e91a";
    color: #009eeb;
  }
  .icon-expert:before {
    content: "\e91b";
    color: #009eeb;
  }
  .icon-get-va:before {
    content: "\e91c";
  }
  .icon-hotline-red:before {
    content: "\e91d";
    color: #eb5757;
  }
  .icon-instant-sp:before {
    content: "\e91e";
    color: #009eeb;
  }
  .icon-livechat-blue:before {
    content: "\e91f";
    color: #009eeb;
  }
  .icon-mail-thankyou .path1:before {
    content: "\e920";
    color: rgb(240, 247, 253);
  }
  .icon-mail-thankyou .path2:before {
    content: "\e921";
    margin-left: -1em;
    color: rgb(240, 247, 253);
  }
  .icon-mail-thankyou .path3:before {
    content: "\e922";
    margin-left: -1em;
    color: none;
  }
  .icon-mail-thankyou .path4:before {
    content: "\e923";
    margin-left: -1em;
    color: rgb(240, 247, 253);
  }
  .icon-mail-thankyou .path5:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-mail-thankyou .path6:before {
    content: "\e925";
    margin-left: -1em;
    color: none;
  }
  .icon-mail-thankyou .path7:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(240, 247, 253);
  }
  .icon-mail-thankyou .path8:before {
    content: "\e927";
    margin-left: -1em;
    color: none;
  }
  .icon-menu-arrow:before {
    content: "\e928";
  }
  .icon-menu-arrow-left:before {
    content: "\e929";
  }
  .icon-menu-arrow-right:before {
    content: "\e92a";
  }
  .icon-menu-arrow-up:before {
    content: "\e92b";
  }
  .icon-minus:before {
    content: "\e92c";
  }
  .icon-minus-round .path1:before {
    content: "\e92d";
    color: rgb(255, 255, 255);
  }
  .icon-minus-round .path2:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(0, 158, 235);
  }
  .icon-oder-calender:before {
    content: "\e92f";
    color: #d8d8d8;
  }
  .icon-option-arrow-down:before {
    content: "\e930";
    color: #666;
  }
  .icon-option-arrow-left:before {
    content: "\e931";
    color: #666;
  }
  .icon-option-arrow-right:before {
    content: "\e932";
    color: #666;
  }
  .icon-option-arrow-up:before {
    content: "\e933";
    color: #666;
  }
  .icon-order-account:before {
    content: "\e934";
    color: #666;
  }
  .icon-order-howto:before {
    content: "\e935";
    color: #666;
  }
  .icon-order-statistics:before {
    content: "\e936";
    color: #009eeb;
  }
  .icon-order-web:before {
    content: "\e937";
    color: #666;
  }
  .icon-plus:before {
    content: "\e938";
  }
  .icon-plus-round .path1:before {
    content: "\e939";
    color: rgb(255, 255, 255);
  }
  .icon-plus-round .path2:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(0, 158, 235);
  }
  .icon-respect:before {
    content: "\e93b";
    color: #009eeb;
  }
  .icon-sidebar-check:before {
    content: "\e93c";
    color: #2cd1a0;
  }
  .icon-sidebar-dowload:before {
    content: "\e93d";
    color: #fff;
  }
  .icon-sidebar-email:before {
    content: "\e93e";
  }
  .icon-sidebar-phone:before {
    content: "\e93f";
  }
  .icon-sideba-time:before {
    content: "\e940";
  }
  .icon-step1-calender:before {
    content: "\e941";
  }
  .icon-tick:before {
    content: "\e942";
    color: #2cd1a0;
  }
  .icon-topbar-arrow:before {
    content: "\e943";
  }
  .icon-topbar-arrow-left:before {
    content: "\e944";
  }
  .icon-topbar-arrow-right:before {
    content: "\e945";
  }
  .icon-topbar-arrow-up:before {
    content: "\e946";
  }
  .icon-topbar-calender:before {
    content: "\e947";
  }
  .icon-topbar-phone:before {
    content: "\e948";
  }
  .icon-transparency:before {
    content: "\e949";
    color: #009eeb;
  }
  